node_modules/
**/node_modules/

.env
.env.*
!.env.example
.env.development

logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


dist/
build/
coverage/
.tmp/
.cache/

.DS_Store
Thumbs.db

.vscode/
.idea/

docker-data/
*.pid

coverage/

